@import "tailwindcss";

@theme static {
    --color-lightGray: #d9d9d9;
    --color-lightestGray: #fafafa;
    --color-lightBg: #f6f6f6;
    --color-icon: #5c5e64;
    --color-blueAccent: #396eff;

    --color-lightBgV2: #e5e5e5;
    --color-blueAccentV2: #3b82f6;
    --color-secondary: #737373;
    --color-fillbg: #e6e6e6;

    --color-darker: #7a7289;
    --color-questTextColor: #444444;
    --color-darkBlueOne: #001D75;
    --color-darkerBlueOne: #00185E;
    --color-lightBlueOne: #0040FF;
    --color-muted: #ececf0;
    --color-muted-foreground: #717182;

    --color-statusBarLinearBlue: linear-gradient(
            270deg,
            #396eff,
            #6ecaff,
            #396eff
    );

    --breakpoint-mobile: 22rem;
}

@theme {
    --container-sidebarNavTextVisible: 200px;
    --radius-normal: 8px;
}
@layer {
    input:focus {
        @apply outline-none;
    }
}

@layer components {
    .navIcon {
        @apply text-2xl rounded-xl text-icon;
    }

    .heading {
        @apply font-semibold text-2xl ml-[54px] mt-8;
    }

    .simpleButton {
        @apply rounded-normal py-2 px-3 whitespace-nowrap text-white font-semibold;
    }

    .questionCard {
        @apply w-10/12 flex flex-col gap-3 border border-gray-400 p-6 rounded-normal max-[540px]:w-11/12;
    }


}


@layer utilities {
    .statusBarBlueGradient {
        background: linear-gradient(270deg, #396eff, #6ecaff, #396eff);
    }

    .statusBarYellowGradient {
        background: linear-gradient(270deg, #ffd93b, #fff29c, #ffd93b);
    }

    .statusBarGreenGradient {
        background: linear-gradient(270deg, #29c76f, #9fffc2, #29c76f);
    }

    .statusBarLayer {
        background-size: 600% 600%;
        animation: gradientShift 8s ease infinite;
        @apply w-full h-full absolute top-0 left-0 z-0;
    }

    .statusBarYellow {
        @apply bg-[#ffd93b];
    }

    .plusesBtw p:not(:last-child)::after {
        content: "+";
        margin-left: 0.5em;
    }

    .mainContainer {
        @apply w-full p-8 max-sm:p-5 flex flex-col gap-5 mb-20;
    }

    .container {
        @apply w-full p-2 flex flex-col gap-3;
    }

    .heading-1 {
        @apply text-5xl text-gray-950 font-bold mb-5 max-lg:text-4xl max-md:text-3xl;
    }

    .heading-2 {
        @apply text-3xl text-gray-800 font-semibold mb-3;
    }

    .heading-3 {
        @apply text-lg text-gray-900;
    }

    .heading-4 {
        @apply text-base font-semibold text-gray-800;
    }

    .p {
        @apply text-sm text-gray-600 mb-3;
    }

    .span {
        @apply text-gray-500 text-sm;
    }

    .buttonV1 {
        @apply flex gap-1 py-4 px-12 text-white font-semibold bg-darkBlueOne w-fit rounded-sm items-center hover:bg-darkerBlueOne border-2 hover:border-lightBlueOne duration-100;
    }

    .glass {
        @apply backdrop-blur-lg bg-gray-400/30 border border-gray-400/40;
    }

    .tr {
        transition: all .5s linear;
    }


    .sidebar {
        @apply flex sm:flex-col max-sm:grid max-sm:grid-cols-[auto_1fr] z-20  items-center max-sm:items-stretch bg-white  w-auto h-screen border-r border-r-lightGray sticky top-0 left-0 max-sm:fixed max-sm:w-9/12 max-[350px]:w-7/12 max-sm:mx-auto max-sm:bg-lightestGray max-sm:shadow-xl max-sm:h-[72px] max-sm:top-auto max-sm:rounded-xl max-sm:overflow-hidden  max-sm:bottom-5 max-sm:left-2 ;


        .colorStatusBar {
            @apply border-b border-b-lightGray w-full sm:h-32 max-[21rem]:w-[30px] max-sm:h-full relative min-w-10 max-sm:w-[60px];
        }

        .navLinks {
            @apply flex sm:flex-col w-full items-start max-sm:items-center max-sm:justify-center static m-0;

            .navLink {
                @apply flex items-center m-3 max-sm:m-0 gap-2 p-3 rounded-xl;
            }
        }
    }


    .explicitCard {
        .optionContainer {
            @apply w-full relative rounded-normal h-12 overflow-hidden flex;

            .beforeOptionMobile {
                @apply absolute flex items-center top-0 left-0 w-1/2 h-full bg-red-500  z-0 rounded-xl min-[540px]:hidden data-[iscorrect=true]:bg-green-500;
            }

            .option {
                @apply relative  h-12 min-[540px]:pointer-events-none flex justify-between z-[10] bg-muted  rounded-normal overflow-hidden w-full text-questTextColor font-semibold;
            }

            .afterOptionMobile {
                @apply absolute top-0 right-0 w-1/2 h-full bg-red-500 z-0 flex justify-end items-center rounded-xl min-[540px]:hidden;
            }
        }
    }


}


@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

