@import "tailwindcss";

@theme static {
    --color-lightGray: #d9d9d9;
    --color-lightestGray: #fafafa;
    --color-lightBg: #f6f6f6;
    --color-icon: #5c5e64;
    --color-blueAccent: #396eff;

    --color-lightBgV2: #e5e5e5;
    --color-blueAccentV2: #3b82f6;
    --color-secondary: #737373;
    --color-fillbg: #e6e6e6;

    --color-darker: #7a7289;
    --color-questTextColor: #444444;
    --color-darkBlueOne: #001D75;
    --color-darkerBlueOne: #00185E;
    --color-lightBlueOne: #0040FF;
    --color-muted: #ececf0;
    --color-muted-foreground: #717182;

    --color-statusBarLinearBlue: linear-gradient(
            270deg,
            #396eff,
            #6ecaff,
            #396eff
    );
}

@theme {
    --container-sidebarNavTextVisible: 200px;
    --radius-normal: 8px;
}
@layer {
    input:focus {
        @apply outline-none;
    }
}

@layer components {
    .navIcon {
        @apply text-4xl p-2.5 rounded-xl text-icon mt-2;
    }

    .heading {
        @apply font-semibold text-2xl ml-[54px] mt-8;
    }

    .simpleButton {
        @apply rounded-normal py-2 px-3 whitespace-nowrap text-white font-semibold;
    }

    .questionCard {
        @apply w-10/12 flex flex-col gap-3 border border-gray-400 p-6 rounded-normal;
    }


}


@layer utilities {
    .statusBarBlueGradient {
        background: linear-gradient(270deg, #396eff, #6ecaff, #396eff);
    }

    .statusBarYellowGradient {
        background: linear-gradient(270deg, #ffd93b, #fff29c, #ffd93b);
    }

    .statusBarGreenGradient {
        background: linear-gradient(270deg, #29c76f, #9fffc2, #29c76f);
    }

    .statusBarLayer {
        background-size: 600% 600%;
        animation: gradientShift 8s ease infinite;
        @apply w-full h-full absolute top-0 left-0 z-0;
    }

    .statusBarYellow {
        @apply bg-[#ffd93b];
    }

    .plusesBtw p:not(:last-child)::after {
        content: "+";
        margin-left: 0.5em;
    }

    .mainContainer {
        @apply w-full p-8 flex flex-col gap-5;
    }

    .container {
        @apply w-full p-2 flex flex-col gap-3;
    }

    .heading-1 {
        @apply text-5xl text-gray-950 font-bold mb-5 max-lg:text-4xl max-md:text-3xl max-sm:text-2xl;
    }

    .heading-2 {
        @apply text-3xl text-gray-800 font-semibold mb-3;
    }

    .heading-3 {
        @apply text-lg text-gray-900;
    }

    .heading-4 {
        @apply text-base font-semibold text-gray-800;
    }

    .p {
        @apply text-sm text-gray-600 mb-3;
    }

    .span {
        @apply text-gray-500 text-sm;
    }

    .buttonV1 {
        @apply flex gap-1 py-4 px-12 text-white font-semibold bg-darkBlueOne w-fit rounded-sm items-center hover:bg-darkerBlueOne border-2 hover:border-lightBlueOne duration-100;
    }

    .glass {
        @apply backdrop-blur-lg bg-gray-400/30 border border-gray-400/40;
    }

    .tr {
        transition: all .5s linear;
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

